<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
      <h5 class="section-title h1">Destinations</h5>
      <button  class="btn btn-primary" (click)="onClickAddNewDestination()" [hidden]="!showModel">Add Destination</button>
      <br>
      <div class="container" [hidden]="showModel">
        <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="name" placeholder="Destination Name">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" [(ngModel)]="description" placeholder="Destination Details"></textarea>
        </div>
        <button  class="btn btn-primary" (click)="addDestination()">Add Destination</button>
      </div>
    </div>
    <br>
      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let destination of destinations">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <h4 class="card-title">{{destination.name}}</h4>
                                  <p class="card-text">SHOW DETAILS</p>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <h4 class="card-title">DETAILS</h4>
                                  <p class="card-text">{{destination.description}}</p>
                                  <button class="btn btn-primary" (click)="deleteDestination(destination)">Delete</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->

      </div>
  </div>
</section>
<!-- Team -->

<!-- The Modal -->
<div class="modal" id="myModal" [hidden]="showModel">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>